<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <button id="myId">go</button>
        <div class="catchat">
            <div class="signals">
                    <textarea name="" id="myId" cols="30" rows="10" class="myId"></textarea>
                    <textarea name="" id="otherId" class="otherId" cols="30" rows="10"></textarea>
            </div>
                <button class="connect">connect</button>

                <textarea name="" class="messageText" cols="30" rows="10"></textarea>
                <button class="sendMessage">send Message</button>
                <div class="message"></div>
                <div class="video"></div>
        </div>
    </div>
</body>
</html>