<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="frame">
            <div class="contacts">
                <div class="contacts__header"></div>
                <div class="contacts__list">

                </div>
            </div>
            <div class="chat">
                <div class="chat__header">
                    <div class="chat__contact">
                        <div class="chat__userpic"></div>
                        <div class="chat__username">twinPete93</div>
                    </div>
                    <div class="chat__options"></div>
                </div>
                <div class="chat__main">

                </div>
                <div class="chat__inputfield">
                    <input class="chat__input" type="text" placeholder="write a Message"/>
                    <div class="chat__sendButton">
                        send message
                    </div>
                </div>
            </div>
            <div class="videochat">
                <div class="videochat__header">
                    <div class="videochat__minimize"></div>
                    <div class="videochat__maximize"></div>
                    <div class="videochat__close"></div>
                </div>
                <div class="videochat__body"></div>
            </div>
        </div>
    </div>
</body>
</html>