<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Short+Stack" rel="stylesheet">
    <title>CatChat</title>
</head>
<body>

    <div class="main">
        <div class="startWindow">
            <a href=""><img class="startWindow__logo" src="./images/catchat__logo.png" alt="No Pic found"></a>
            <h1 class="startWindow__mainTitle">CatChat</h1>
            <h3 class="startWindow__subTitle">The Videochat for Cute Cats</h3>
            <div class="button button--login" >
                <div class="button__title">Login</div>
                <div class="form form--login">
                    <form id="login-form" action="chat.html">
                        <input type="text" name="username" placeholder="Username">
                        <input type="password" name="password" placeholder="Password">
                        <button type="submit" id="submit" class="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="button button--register" >
                <div class="button__title">Register</div>
                <div class="form form--register">
                    <form id="register-form" action="chat.html">
                        <input type="text" name="username" placeholder="Username">
                        <input type="text" name="username" placeholder="Firstname">
                        <input type="text" name="username" placeholder="Lasttname">
                        <input type="text" name="username" placeholder="Email">
                        <input type="password" name="password" placeholder="Password">
                        <input type="password" name="password" placeholder="Repeat Password">
                        <input type="date" name="username" placeholder="Age">
                        <input type="text" name="username" placeholder="Location">
                        <button type="submit" class="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>