*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

body{
    color: #444;
    font-family: 'Short Stack', cursive;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.startWindow{
    width: 400px;
    height: auto;
    margin-top: 10vh;
    text-align: center;
    color: #ff97ab;
    .startWindow__logo{
        height: 30rem;
        width: auto;
    }
    .button{
        display: block;
        margin: 2rem auto;
        padding: 1rem;
        width: 25rem;
        height: 3rem;
        border-radius: 30px;
        border: solid 3px #ff97ab;
        font-size: 2.5rem;
        color: #ff97ab;
        font-family: 'Gamja Flower', cursive;
        font-family: 'Short Stack', cursive;
        transition: height 300ms ease;
        overflow: hidden;
    }
}





.startWindow__mainTitle{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0rem;
    font-size: 6rem;
    font-family: 'Gloria Hallelujah', cursive;
}

.startWindow__subTitle{
    margin-bottom: 4rem;
    font-size: 2.5rem;
    font-weight: 400;
}
